@import "../../variables.scss";

a {
  float: left;
  white-space: nowrap;
  display: inline-block;
  @include reset-anchor;
}
h1 {
  color: $color-secondary;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-weight: 900;

  &:hover {
    cursor: pointer;
  }
  &::selection {
    background: none;
  }
}
