@import "../../variables.scss";

.Nav {
  margin: auto 0;
  float: left;
  display: inline-block;
  @include reset-list;
}

.nav__item {
  display: inline-block;
  span {
    display: block;
    font-size: $font-md;

    padding: 1.5rem 2rem;
    text-transform: uppercase;

    transition: all 0.2s ease;
    cursor: pointer;
    border-radius: 2px;
    &:hover {
      background: $color-tertiary;
    }
  }
}
